<html>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Web & Full-Stack Developer - Interested in Front-End / Nodejs (married with nodejs). He likes to spend time on Discord. 
He enjoy learning English. Turkish student and Amateur designer.
He knows HTML - CSS - JS and he knows a little bit of GOLANG & PYTHON. He also wants to Learn C & TS. 
He hates Tiktok and he deleted his Instagram because of it. His favorite apps are Github & Discord! And he loves watching anime!" name="description"> 
<meta name="author" content="FalsisDev">
<meta content="FalsisDev" property="og:site_name">
<meta name="theme-color" content="#303136">
 
<meta property="og:image" content="https://media.discordapp.net/attachments/851160634950418445/863898884853202984/20210712_004449.jpg?width=842&height=473" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:type" content="website">
 <meta name="twitter:image" content="https://media.discordapp.net/attachments/851160634950418445/863898884853202984/20210712_004449.jpg"/> 
<meta property="og:image:width" content="300">
	<meta property="og:image:height" content="300">
  <link rel="stylesheet" href="/css">
<script src="https://kit.fontawesome.com/e0330794a8.js" crossorigin="anonymous"></script>
<title>FalsisDev - A Full-stack Developer</title>
<link rel="icon" href="<%= avatar %>" type="image/x-icon" />
<body>
<div align="center">
<!--  <div class="renkcubugu"></div> -->
  <br>
  <% if( status === "dnd" ) { %>
<img src="<%= avatar %>" class="dnd">
<% } %>
  <% if(status === "online") { %>
<img src="<%= avatar %>" class="online">
<% } %>
  <% if(status === "idle") {%>
<img src="<%= avatar %>" class="idle">
<% } %>
  <% if(status === "offline") {%>
<img src="<%= avatar %>" class="offline">
<% } %>
<br>
<br>
<p style="color:#6063ff;font-family:tahoma;font-weight:bold;font-size:200%">
FalsisDev
</p>

<br>
<center>
<% if(customstatus2.image){ %>
<% if(fspotify === true){ %>
<img width="50" height="50" class="donme image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png">
<br>
<span style="color: #43b581;"><%= customstatus2.name %></span> <span style="color: #fff"> <br> <%= customstatus2.state %></span><br><span style="color: #fff;"><%= customstatus2.details %></span>
<% }else{ %>
<span style="color: #43b581;"><%= customstatus2.name %></span> <span style="color: #fff"> <br> <%= customstatus2.state %></span><br><span style="color: #fff;"><%= customstatus2.details %></span>
<% } %>
<% }else{ %>
<img src="<%= customstatus2.image %>" class="image"> <br> <br> <span style="color: #43b581;"><%= customstatus2.name %></span> <span style="color: #fff"> <br> <%= customstatus2.state %></span><br><span style="color: #fff;"><%= customstatus2.details %></span>
<% } %>
</center>
<br>
<br>
<p style="color:#fafafa;font-size:18px">
Web & Full-Stack Developer - Interested in Front-End / Nodejs (married with nodejs). He likes to spend time on Discord. 
<br>
He enjoy learning English. Turkish student and Amateur designer.
<br>
He knows HTML - CSS - JS and he knows a little bit of GOLANG & PYTHON. He also wants to Learn C & TS. 
<br>
He hates Tiktok and he deleted his Instagram because of it. His favorite apps are Github & Discord! And he loves watching anime!
<br>
Visit his <a href="https://api.falsisdev.ga" class="link">api</a> website
<br>
<br>
<a href="https://github.com/falsisdev"><img src="https://img.shields.io/github/followers/falsisdev?style=for-the-badge"></a>
<br>
<br>
<img src="https://img.shields.io/badge/HTML-181a22?style=for-the-badge&logo=html5&logoColor=orange">
 <img src="https://img.shields.io/badge/CSS-181a22?style=for-the-badge&logo=css3&logoColor=blue">
<img src="https://img.shields.io/badge/JavaScript-181a22?style=for-the-badge&logo=javascript&logoColor=F7DF1E"> <img src="https://img.shields.io/badge/Node.js-181a22?style=for-the-badge&logo=node.js&logoColor=green"> <img src="https://img.shields.io/badge/GO-181a22?style=for-the-badge&logo=go&logoColor=blue"> <img src="https://img.shields.io/badge/Typescript-181a22?style=for-the-badge&logo=typescript&logoColor=blue"> <img src="https://img.shields.io/badge/React-181a22?style=for-the-badge&logo=react&logoColor=61DAFB">
<br>
<br>
<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=falsisdev&theme=react&layout=compact">
<br>
<br>
<div class="wrapper">
    <div class="icon github">
      <div class="tooltip">Github</div>
      <span><a href="https://github.com/falsisdev" class="github"><i class="fab fa-github"></i></a></span>
    </div>
    <div class="icon discord">
      <div class="tooltip">Discord</div>
      <span><a href="https://discord.com/users/539843855567028227" class="discord"><i class="fab fa-discord"></i></a></span>
    </div>
  </div>
</p>
</div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<font color="white">
  <div align="center">
  This website is open source on <a class="link" href="https://github.com/falsisdev/site">Github</a>.
  </div>
  <br>
</font>
<!-- <div class="renkcubugu-footer"></div> -->
</html>
