<html>
<!------------------------------------------------->
<head>
<%- include('meta') %>
<%- include('links') %>
<!------------------------------------------------->
<title>FalsisDev - Blog</title>
<!------------------------------------------------->
<script src="https://kit.fontawesome.com/e0330794a8.js" crossorigin="anonymous"></script><!-- fontawesome -->
</head>
<!------------------------------------------------->
<body>
  <div align="center" style="border-radius: 10px;width: 100%;padding-bottom: .25rem;background-color:<%= user.status === 'dnd' ? 'ED4245' :  user.status === 'idle' ? 'faa61a' : user.status === 'online' ? '57F287' : user.status === 'offline' ? '99aab5' : 'EB459E' %>;">
  </div>
  <br>
  <div class="card" align="left" style="padding-left:10px;" size="5px">
  <center>
  <img class="profile-<%= user.status %>" src="<%= user.avatarURL %>">
</center>
<center>
  <h1>Turkey is on Fire!</h1>
  Turkey is burning! The whole world is helping the Turks! What are the causes of the fires? All the Details!!!
<br><br>Turkish Coastguard vessels - assisted by private boats and yachts - were deployed to bring holidaymakers to safety, according to local media.

  In the city of Bodrum, three five-star hotels were reportedly evacuated.

  The fires, which have been burning since Wednesday, have left six people dead.

  Two more fatalities were confirmed on Saturday. They were among the thousands of people who have been battling almost 100 separate blazes in resorts and villages on Turkey's Mediterranean and Aegean coasts - a major tourist region.

  Officials say all but 10 of the fires have now been brought under control.
  <br>
  <br>
  Investigators are trying to establish whether some of the fires were started deliberately, amid reports that one suspected arsonist has been detained.

President Recep Tayyip Erdogan on Saturday visited the town of Manavgat, were five fire-related deaths have been confirmed. Mr Erdogan vowed that the government would do everything to help hundreds of people affected by the disaster to rebuild their lives..
<br>
<br>
  <br><br>The president has been heavily criticised for the shortage of firefighting aircraft in the country. But he said that "the main reason for these issues with planes is that the Turkish Aeronautical Association has not been able to update its fleet and technology".

  He added that more aircraft from Azerbaijan, Iran, Russia and Ukraine were now involved in the massive firefighting operation
  <br>
  <br>
<h1> My Opinions </h1>
 I am a Turk, and I see that the Turkish government does not perform much on this issue. I think the president should buy planes instead of throwing tea to the public and now he should be more comforted. 31 August Izmir earthquake and Elazig earthquake in the same way didn't perform any actions. Bye...

 </center><br>
 <br>
 <center><iframe width="709" height="399" src="https://www.youtube.com/embed/jSF1oMTxP-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </div>
</body>
<br>
<br>
<div align="center"><font color="white" size="5px"><a class="github" href="/redirect/github"><i class="fab fa-github"></i></a>  <a class="github" href="/redirect/discord"><i class="fab fa-discord"></i></a>  <a class="github" href="/redirect/spotify"><i class="fab fa-spotify"></i></a>  <a class="github" href="/redirect/youtube"><i class="fab fa-youtube"></i></a></font></div>
<br>
<br>
<div style="background-color:292b42;" align="center">
<font color="white">
  <br>
This website is open source on <a class="link2" href="/redirect/repo">Github</a>.
<br><br>
</font>
</div>
<div align="center" style="width: 100%;padding-bottom: .25rem;background-color:EB459E;">
</div>
</html>
